
.login_app {
  display: flex;
  margin-top: -10px;
  width: 100%;
  

  .base_header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f91313;
    background-color: #15d41b;
    line-height: 35px;
    font-size: 25px;
    width: 90px;
    border-radius: 20px;
    opacity: 0.4;

  }


}
