// 定义全局变量

// 主题颜色
$primary-color: #66ccff;

// 次要颜色
$secondary-color: #ff0b0b;

// 背景颜色
$background-color: #f0f0f0;

// 脚部背景颜色
$footer-background-color: #ffffff;

// 脚部文本背景颜色
$footer-text-color: #eb0c0c;

// 头部高度
$header-height: 5%;

// 脚部高度
$footer-height: 5%;

// 脚部宽度
$footer-width: 15%;

// 大字体
$font-size-large: 2rem;

// 中字体
$font-size-medium: 1.5rem;

// 加粗字体
$font-weight-bold: bold;

// 小内边距
$padding-small: 1rem;

// 中内边距
$padding-medium: 0.5rem;

// 小外边距
$margin-small: 0.5rem;

// 中外边距
$margin-medium: 1rem;

// 圆角
$border-radius: 10px;

// 过渡时间
$transition-duration: 0.3s;
